@model IEnumerable<EventVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mx-auto mt-12 animated fadeIn" id="our-events">
    <div class="grid grid-cols-3 gap-5">
        @foreach (var item in Model)
        {
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="~/Files/Images/@item.ImageName" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            @item.Name.ToString()
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        @item.place.ToString()
                    </p>
                    <a asp-action="Booking" asp-route-id="@item.Id"
                       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        book now
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 14 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div id="about" class="mt-12 p-10 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-3xl text-center font-bold text-blue-800">Tazkartii</h1>
    <p class="text-center mt-5 text-2xl text-gray-700">
        "We're passionate about making it easy for you to experience the events
        you love. Our platform offers a seamless way to discover and book
        tickets for a variety of events, from concerts and sports matches to
        theater performances and festivals. With our user-friendly interface and
        extensive event listings, you can find the perfect tickets to fit your
        interests and schedule."
    </p>
</div>

<div class="contact" id="contact">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl font-extrabold text-center text-blue-700 dark:text-white">
                Contact Us
            </h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                Got a technical issue? Want to send feedback about a beta feature?
                Need details about our Business plan? Let us know.
            </p>
            <form action="#" class="space-y-8">
                <div>
                    <label for="email"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                    <input type="email"
                           id="email"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                           placeholder="name@flowbite.com"
                           required />
                </div>
                <div>
                    <label for="subject"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                    <input type="text"
                           id="subject"
                           class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                           placeholder="Let us know how we can help you"
                           required />
                </div>
                <div class="sm:col-span-2">
                    <label for="message"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                    <textarea id="message"
                              rows="6"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="Leave a comment..."></textarea>
                </div>
                <button href="#"
                        type="submit"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    send message
                </button>
            </form>
        </div>
    </section>
</div>
